JWT_SECRET_KEY=d8e827b63cb8de97ad887e4081785b43c1e97610e8673f551b237c9fb98dc673
TOKEN_SIGN_ALGORITHM=HS256

API_PROTOCOL=http
API_HOST=0.0.0.0
API_PORT=800

TEST_DB_USER=app
TEST_DB_PASSWORD=123qwe
TEST_DB_NAME=database_nam
